.displayBoardContainer {
  height: 100%;
}

.boardLists {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 85%;
  position: absolute;
  top: 15%;
  bottom: 0;
  z-index: -5;
}

.boardTitle {
  margin-right: 1rem;
  margin-left: 2rem;
}

.boardHeader {
  padding-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  position: fixed;
  height: 5rem;
  display: flex;
  top: 2.5rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.boardSettings {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.boardFavouriteStar {
  height: 2rem;
  width: 2rem;
  padding: 0.25rem;
  align-self: center;
  margin: 0rem 1rem;
}

.boardEditIcon {
  height: 2rem;
  width: 2rem;
  padding: 0.25rem;
  align-self: center;
  margin-left: 2rem;
}

.boardEditIcon:hover {
  cursor: pointer;
}

.boardSettings img:hover {
  background-color: rgb(145, 203, 224);
}
