.boardLists {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 50px;
}

.boardTitle {
  margin-right: 15px;
}

.boardHeader {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: bold;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.boardSettings {
  height: 1.5rem;
  width: 1.5rem;
  align-self: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

