.listContainer {
  background-color: rgb(127, 171, 207);
  margin: 1rem;
  flex: 1, auto;
  border-radius: 5px;
  min-height: 5rem;
  width: 14rem;
}
.listTitle {
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 1rem;
  white-space: nowrap;
}

.listHeader {
  display: flex;
  border-bottom: 1px solid black;
  padding: 5px;
  margin-bottom: 5px;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
}

.listEditIcon {
  margin-right: 1rem;
  margin-left: 2rem;
  height: 1.5rem;
  width: 1.5rem;
  visibility: hidden;
}

.listContainer:hover .listEditIcon {
  visibility: inherit;
}

.listDropZone {
  height: 100%;
}

.listCards {
  padding-bottom: 0.25rem;
}
