.boardContainer {
  height: 75px;
  width: 100px;
  border: 1px solid black;
  background-color: lightgreen;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 25px;
}

.boardContainer:hover {
  cursor: pointer;
}

.favourite {
  font-weight: bold;
}