.boardContainer {
  min-height: 5rem;
  width: 150px;
  border: 1px solid black;
  background-color: rgb(147, 214, 147);
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 25px;
  font-size: 1rem;
  word-wrap: break-word;
}

.boardContainer:hover {
  cursor: pointer;
  background-color: rgb(173, 233, 173);
}

.favourite {
  font-weight: bold;
}