.cardContainer {
  background-color: white;
  border-radius: 3px;
  margin: 10px;
  overflow-wrap: break-word;
  max-width: 300px;
}
.cardText {
  text-align: start;
  padding-left: 10px;
  padding-right: 10px;
}