.alertOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.alertText {
  font-size: 1rem;
}

.alertText:hover {
  cursor: pointer;
  font-weight: bold;
}

.alertHeaderText {
  font-size: 1.5em;
}

.settingsIcon {
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 4rem;
}

.listAlert{
  z-index: 10;
}