.addListContainer {
  font-size: 1rem;
  min-height: 5rem;
  background-color: rgb(48, 133, 172);
  margin: 1rem;
  padding: 1rem 0;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addListInput {
  border-radius: 5px;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
}

.addListButton {
  background-color: rgb(98, 189, 224);
  color: black;
}
