.alertContainer {
  height: 100%;
  width: 100%;
  background-color: red;
}

.alertOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.alertText {
  font-size: 1rem;
}

.alertText:hover {
  cursor: pointer;
  font-weight: bold;
}

.alertHeader {
  font-size: 1.5em;
}

.settingsMenu {
  background-color: rgb(104, 216, 216);
  border: 1px solid black;
  border-radius: 3px;
  position: fixed;
  left: 30%;
  top: 15%;
  width: 40%;
  height: 10%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 10000;
  padding-top: 1rem;
  position: relative;
}

.settingsOption {
  width: 100%;
}

.settingsOption:hover {
  font-weight: bold;
}
.settingsClose {
  font-size: 1.25rem;
  align-self: flex-end;
  margin-right: 1rem;
}

.settingsClose:hover {
  font-weight: bold;
}

.closeIcon {
  height: 1rem;
  width: 1rem;
  top: 0;
  right: 0;
  margin: 0.5rem;
  position: absolute;
}
