.alertOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.alertText {
  font-size: 1rem;
}

.alertText:hover {
  cursor: pointer;
  font-weight: bold;
}

.alertHeaderText {
  font-size: 1.5em;
}

.listAlert {
  z-index: 10;
}

.settingsMenu {
  background-color: rgb(104, 216, 216);
  border: 1px solid black;
  border-radius: 3px;
  position: fixed;
  left: 30%;
  width: 40%;
  margin-top: 15%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 10000;
  padding-top: 1rem;
}

.settingsOption {
  width: 100%;
}

.settingsOption:hover {
  font-weight: bold;
}
.settingsClose {
  font-size: 1.25rem;
  align-self: flex-end;
  margin-right: 1rem;
}

.settingsClose:hover {
  font-weight: bold;
}
