.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginFromTitle {
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}

.loginInputGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  margin: 0.5rem;
}

.loginFormInput {
  width: 65%;
  border-radius: 5px;
}

.loginFormButton {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.loginAlert {
  height: 6rem;
  width: 40%;
  margin: 10% auto;
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.loginAlertHeading {
  font-size: 1.5rem;
}