.navbar {
  display: flex;
  flex-direction: row;
  background-color: #2899af;
  height: 40px;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}

a {
  margin-left: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}