.userForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userFormTitle {
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}

.userFormInputGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  margin: 0.5rem;
}

.userFormInput {
  width: 65%;
  border-radius: 5px;
}

.userFormLabel {
  margin: 0;
}

.userFormButton {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.userFormAlert {
  height: 6rem;
  width: 40%;
  margin: 10% auto;
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.userFormAlertHeading {
  font-size: 1.5rem;
}